.back
.center
  .pair
    label H
    input.slider#hue( type="range" min="0" max="360" value="360")
  .pair
    label S
    input.slider#sat( type="range" min="0" max="100" value="65")
  .pair
    label L
    input.slider#lig( type="range" min="0" max="100" value="75")
  .pair
    label B
    input.slider#border( type="range" min="0" max="300" value="150")

a#hide-controls Hide the controls and let me take a screenshot

a(href="http://nathan.tokyo" target="_blank").sig NATHAN.TOKYO
